@import "tailwindcss";

@layer base {
  html {
    --surface-color: white;

    --primary-color: var(--color-stone-500);
    --on-primary-color: var(--color-stone-200);

    --accent-color: #c69963;
    --on-accent-color: var(--color-yellow-800);
  }

  html.dark {
    --surface-color: var(--color-stone-600);

    --primary-color: var(--color-stone-200);
    --on-primary-color: var(--color-stone-600);

    --accent-color: var(--color-yellow-800);
    --on-accent-color: #c69963;
  }
}

@theme {
  --color-surface: var(--surface-color);

  --color-primary: var(--primary-color);
  --color-on-primary: var(--on-primary-color);

  --color-accent: var(--accent-color);
  --color-on-accent: var(--on-accent-color);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */
